.logo{
    float: left;
    width: 60px;
    height: 60px;
    padding-left: 40px;
    padding-top: 15px;
}

.circlenih {
    float: left;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 15px;
  }

.circle {
    float: left;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 15px;
  }

.rectangle {
    width: 120px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background-color: #ffffff;
    border: 1px solid black;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 120px 80px 120px 80px 120px;
    margin-left:40px;
  }

.grid-container2 {
    display: grid;
    grid-template-columns: 200px 80px 200px;
    margin-left: 50px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 240px 40px 240px;
    margin-left: 40px;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

pre {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}